<h1 style= color:green;> Hola, <%= current_user.fname if current_user%> Welcome to this page!!</h1>
<h1 style= color:purple;>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1 style= color:blue;> Blogposts</h1>
<%= @posts.inspect %> </br>
<h1 style= color:blue;> skills posts</h1>
<%= @skills.inspect %>
<h1 style= color:blue;> portfolios posts</h1>
<%= @portfolios.inspect %>
