// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*body{
  background-color: rosybrown;
  color: brown;
}

.top a{  // a is for link okay.
  color:  	darkslateblue;
} */
@import "bootstrap";
